<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin - @ViewBag.Title</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    @Styles.Render("~/bundles/admin/css")
    @RenderSection("styles", required: false)

    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
</head>
<body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
        @Html.Partial("Partials/_Navbar")
        @Html.Partial("Partials/_MainSidebar")

        <div class="content-wrapper">
            @RenderBody()
        </div>

        @Html.Partial("Partials/_MainFooter")
        @Html.Partial("Partials/_ControlSidebar")
    </div>

    @*@Scripts.Render("~/bundles/admin/js")*@
    @Scripts.Render("~/bundles/admin/jquery")
    @Scripts.Render("~/bundles/admin/jquery-ui-overlay")
    @Scripts.Render("~/bundles/admin/bootstrap")
    @Scripts.Render("~/bundles/admin/adminlte")
    @Scripts.Render("~/bundles/admin/datatables")
    @Scripts.Render("~/bundles/admin/moment")

    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
        $.widget.bridge('uibutton', $.ui.button)
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
