@model EditProductModel

@{
    ViewBag.Title = "Ürün Düzenle";
}

<div class="content-header clearfix">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0">@ViewBag.Title</h1>
            </div>
            <div class="col-sm-6 text-right">
                <a href="@Url.Action("List", "Product", new { area = "Admin" })" class="btn btn-primary">
                    <i class="fas fa-square-plus"></i> Tüm Ürünler
                </a>
            </div>
        </div>
    </div>
</div>

<section class="content">
    <div class="container-fluid">
        @Html.Partial("_EditProductCard", Model)

        @Html.Partial("_EditPropertyCard", Model)

        @Html.Partial("_CreatePropertyModal", Model)

        @Html.Partial("_EditPropertyModal")
    </div>
</section>

@section scripts {
    <script>
        $(function () {
            var table = $('#properties-datatable').DataTable({
                processing: true,
                serverSide: true,
                ordering: false,
                responsive: true,
                lengthChange: false,
                autoWidth: false,
                searching: false,
                pageLength: '@Model.ProductPropertySearchModel.PageSize',
                ajax: {
                    url: '@Url.Action("ProductPropertyList", "Product")',
                    type: 'POST',
                    data: function (d) {
                        return {
                            Draw: d.draw,
                            PageIndex: Math.floor(d.start / d.length),
                            PageSize: d.length,
                            ProductId: '@Model.ProductId',
                        };
                    }
                },
                columns: [
                    {
                        data: 'productPropertyId',
                        width: '5%',
                        className: 'text-center'
                    },
                    {
                        data: 'key'
                    },
                    {
                        data: 'value',
                    },
                    {
                        data: null,
                        width: '15%',
                        className: 'text-center',
                        render: function (data, type, row) {
                            return `<button type="button" class='btn btn-primary btn-sm edit-btn' data-id="${row.propertyId}">Düzenle</button>
                                    <button type="button" class="btn btn-danger btn-sm delete-btn" data-id="${row.productPropertyId}">Sil</button>`;
                        }
                    }
                ],
            });

            $('#search-properties').on('click', function () {
                table.ajax.reload();
            });

            $('#properties-datatable').on('click', '.delete-btn', function () {

                var id = $(this).data('id');

                Swal.fire({
                    title: 'Emin misiniz?',
                    text: "Bu kaydı silmek istediğinize emin misiniz?",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonText: 'Evet, sil!',
                    cancelButtonText: 'Vazgeç'
                }).then((result) => {

                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/Admin/Product/DeleteProductProperty/' + id,
                            type: 'POST',
                            success: function (res) {
                                if (res.success) {
                                    $(document).Toasts('create', {
                                        class: 'bg-success',
                                        title: 'Başarılı',
                                        body: 'Ürün özelliği başarıyla silindi.'
                                    });

                                    table.ajax.reload();

                                } else {
                                    var message = res.message || 'Silme işlemi başarısız oldu.';

                                    $(document).Toasts('create', {
                                        class: 'bg-danger',
                                        title: 'Hata',
                                        body: message,
                                    });
                                }
                            },
                            error: function () {
                                $(document).Toasts('create', {
                                    class: 'bg-danger',
                                    title: 'Hata',
                                    subtitle: '',
                                    body: 'Silme işlemi başarısız oldu.'
                                });
                            }
                        });
                    }
                });
            });

            $('#properties-datatable').on('click', '.edit-btn', function () {

                var id = $(this).data('id');

                $.ajax({
                    url: '/Admin/Product/EditProperty/' + id,
                    type: 'GET',
                    success: function (res) {
                        if (res.success) {

                            $('#modal-edit-property .modal-body').html(res.html);
                            $('#modal-edit-property').modal('show');

                        } else {
                            var message = res.message || 'İşlem başarısız oldu.';

                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Hata',
                                body: message,
                            });
                        }
                    },
                    error: function () {
                        $(document).Toasts('create', {
                            class: 'bg-danger',
                            title: 'Hata',
                            subtitle: '',
                            body: 'İşlem başarısız oldu.'
                        });
                    }
                });
            });

            $('#createPropertyModalSaveBtn').on('click', function () {
                var btn = $(this);

                btn.prop('disabled', true);
                btn.text('Kaydediliyor...');

                $.ajax({
                    url: '@Url.Action("CreateProperty", "Product")',
                    type: 'POST',
                    data: {
                        ProductId: '@Model.ProductId',
                        Key: $('#@Html.IdFor(x => x.CreatePropertyModel.Key)').val(),
                        Value: $('#@Html.IdFor(x => x.CreatePropertyModel.Value)').val()
                    },
                    success: function (response) {
                        if (response.success) {
                            $('#modal-create-property').modal('hide');

                            table.ajax.reload();

                            $(document).Toasts('create', {
                                class: 'bg-success',
                                title: 'Başarılı',
                                body: 'Özellik başarıyla eklendi.'
                            });
                        } else {
                            var message = response.message || 'Özellik ekleme işlemi başarısız oldu.';
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Hata',
                                body: message,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    },
                    complete: function () {
                        btn.prop('disabled', false);
                        btn.text('Kaydet');
                    }
                });
            });

            $('#editPropertyModalSaveBtn').on('click', function () {
                var btn = $(this);

                btn.prop('disabled', true);
                btn.text('Kaydediliyor...');

                var postData = {
                    PropertyId: $('#modal-edit-property').find('input[name="PropertyId"]').val(),
                    Key: $('#modal-edit-property').find('input[name="Key"]').val(),
                    Value: $('#modal-edit-property').find('input[name="Value"]').val(),
                };

                $.ajax({
                    url: '@Url.Action("EditProperty", "Product")',
                    type: 'POST',
                    data: postData,
                    success: function (response) {
                        if (response.success) {
                            $('#modal-edit-property').modal('hide');

                            table.ajax.reload();

                            $(document).Toasts('create', {
                                class: 'bg-success',
                                title: 'Başarılı',
                                body: 'Özellik başarıyla güncellendi.'
                            });
                        } else {
                            var message = response.message || 'Özellik güncelleme işlemi başarısız oldu.';
                            $(document).Toasts('create', {
                                class: 'bg-danger',
                                title: 'Hata',
                                body: message,
                            });
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error(error);
                    },
                    complete: function () {
                        btn.prop('disabled', false);
                        btn.text('Kaydet');
                    }
                });
            });

            $('#modal-create-property').on('hide.bs.modal', function () {
                $('#@Html.IdFor(x => x.CreatePropertyModel.Key)').val('');
                $('#@Html.IdFor(x => x.CreatePropertyModel.Value)').val('');
                $('#createPropertyModalSaveBtn').prop('disabled', false);
                $('#createPropertyModalSaveBtn').text('Kaydet');
            });

            $('#modal-edit-property').on('hide.bs.modal', function () {
                $('#modal-edit-property').find('input[name="PropertyId"]').val(0);
                $('#modal-edit-property').find('input[name="Key"]').val('');
                $('#modal-edit-property').find('input[name="Value"]').val('');
                $('#editPropertyModalSaveBtn').prop('disabled', false);
                $('#editPropertyModalSaveBtn').text('Kaydet');
            });
        });
    </script>
}
